.masque .name {
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: white;
  background-color: black;
  font-size: 30px;
}
.masque .header {
  display: flex;
  flex-direction: row;
  height: 300px;
}
.masque .header img {
  width: 200px;
}
.masque .voie .nom {
  color: white;
  background-color: #be36ac;
}
.masque .voie .pouvoir .nom {
  color: white;
  background-color: #423d3d;
}
