<form class="action-dialog">

    <img src="{{actor.img}}"/>

    <div class="right">
        <label class="name">{{actor.name}}</label>
        <label class="title">Jet de trait</label>
        <div class="jet">
            <a id="dice"><i class="fa-solid fa-dice"></i></a>
        </div>
    </div>

</form>