<form class="mystique-dialog">

    <img src="{{actor.img}}"/>

    <div class="right">
        <label class="name">{{actor.name}}</label>
        <label class="title">Jet de mystique</label>
        <div class="jet">
            <a id="dice"><i class="fa-solid fa-dice"></i></a>
            <select class="dices" id="dices" name="dices">
                <option value="1">1d6</option>
                <option value="2">2d6</option>
            </select>
        </div>
    </div>

</form>