<form class="{{cssClass}} chuchoteur" autocomplete="off">

    <div class="header">

        <div class="left">

            <div class="top">

                <div class="surnom">
                    <label>Surnom</label>
                    <input
                        name="name"
                        value="{{actor.name}}"
                        type="text"
                        data-dtype="String"/>
                </div>

                <div class="age">
                    <label>Age</label>
                    <input
                        name="system.age"
                        value="{{data.system.age}}"
                        type="text"
                        data-dtype="String"/>
                </div>

                <div class="xp">
                    <label>XP</label>
                    <input
                        name="system.xp"
                        value="{{data.system.xp}}"
                        type="text"
                        data-dtype="String"/>
                </div>

            </div>

            <div class="archetype">
                <label>Archetype / Tic / Phrase</label>
                <textarea
                    class="bottom",
                    autocomplete="off"
                    name="system.archetype">{{data.system.archetype}}</textarea>
            </div>

            <div class="middle">
    
                <div class="sante">
        
                    <label class="titre">Santé</label>
        
                    <div class="enfant">
                        <label>Enfant</label>
                        <input
                            name="system.sante.enfant"
                            value="{{data.system.sante.enfant}}"
                            type="text"
                            data-dtype="String"/>
                    </div>
        
                    <div class="chuchoteur">
                        <label>Chuchoteur</label>
                        <input
                            name="system.sante.chuchoteur"
                            value="{{data.system.sante.chuchoteur}}"
                            type="text"
                            data-dtype="String"/>
                    </div>
        
                </div>
        
                <div class="mystique">
                    <label>Mystique</label>
                    <input
                        name="system.mystique"
                        value="{{data.system.mystique}}"
                        type="text"
                        data-dtype="Number"/>
                </div>
        
                <div class="monstre">
                    <label>Monstre</label>
                    <input
                        name="system.monstre"
                        value="{{data.system.monstre}}"
                        type="text"
                        data-dtype="Number"/>
                </div>
        
            </div>

        </div>

        <div class="right">
            <label>Portrait</label>
            <img
                src="{{actor.image}}"
                title="{{actor.name}}"
                data-edit="img"/>
        </div>

    </div>

    <div class="traits-masques-equipements">

        <div class="traits-masques">

            <div class="traits">

                <label>Traits: Enfant 1d4 / Chuchoteur 2d6</label>

                <div class="liste">

                    {{#each actor.traits as |trait|}}
                    <div class="trait" data-id="{{trait.id}}">
                        <i class="delete fas fa-trash"></i>
                        <label>{{trait.name}}</label>
                    </div>
                    {{/each}}

                </div>

            </div>

            <div class="masques">

                <label>Masques</label>

                <div class="liste">

                    <div class="header">

                        <label class="masque">Masque</label>

                        <label class="trait">Trait</label>

                        <label class="voie-1">Voie 1</label>

                        <label class="voie-2">Voie 2</label>

                    </div>

                    {{#each actor.masques as |masque|}}
                    <div class="masque" data-id="{{masque.id}}">

                        <i class="delete fas fa-trash"></i>

                        <label class="nom open">{{masque.name}}</label>

                        <label class="trait">{{masque.system.trait}}</label>

                        <input
                            name="masque.system.voie.1.niveau"
                            value="{{masque.system.voie.1.niveau}}"
                            class="niveau-1"
                            type="text"
                            data-dtype="Number",
                            data-voie="1"/>

                        <input
                            name="masque.system.voie.1.niveau"
                            value="{{masque.system.voie.1.niveau}}"
                            class="niveau-2"
                            type="text"
                            data-dtype="Number",
                            data-voie="1"/>

                        {{#if (eq masque.id ../actor.system.masque)}}
                        <i class="fa-solid fa-masks-theater"></i>
                        {{else}}
                        <i class="fa-regular fa-masks-theater"></i>
                        {{/if}}
    

                    </div>
                    {{/each}}

                </div>

            </div>

        </div>

        <div class="equipements">
            
            <label>Equipements</label>

            <div class="liste">

                {{#each actor.equipements as |equipement|}}
                <div class="equipement" data-id="{{equipement.id}}">
                    <i class="delete fas fa-trash"></i>
                    <label>{{equipement.name}}</label>
                </div>
                {{/each}}

            </div>

        </div>

    </div>

</form>