<form class="{{cssClass}} chuchoteur" autocomplete="off">

    <div class="header">

        <div class="left">

            <div class="top">

                <div class="surnom">
                    <label>Surnom</label>
                    <input
                        name="name"
                        value="{{actor.name}}"
                        type="text"
                        data-dtype="String"/>
                </div>

                <div class="age">
                    <label>Age</label>
                    <input
                        name="system.age"
                        value="{{data.system.age}}"
                        type="text"
                        data-dtype="String"/>
                </div>

                <div class="xp">
                    <label>XP</label>
                    <input
                        name="system.xp"
                        value="{{data.system.xp}}"
                        type="text"
                        data-dtype="String"/>
                </div>

            </div>

            <div class="archetype">
                <label>Archetype / Tic / Phrase</label>
                <textarea
                    class="bottom",
                    autocomplete="off"
                    name="system.archetype">{{data.system.archetype}}</textarea>
            </div>

            <div class="middle">
    
                <div class="sante">
        
                    <label class="titre">Santé</label>
        
                    <div class="enfant">
                        <label>Enfant</label>
                        <input
                            name="system.sante.enfant"
                            value="{{data.system.sante.enfant}}"
                            type="text"
                            data-dtype="String"/>
                    </div>
        
                    <div class="chuchoteur">
                        <label>Chuchoteur</label>
                        <input
                            name="system.sante.chuchoteur"
                            value="{{data.system.sante.chuchoteur}}"
                            type="text"
                            data-dtype="String"/>
                    </div>
        
                </div>
        
                <div class="mystique">
                    <label>Mystique</label>
                    <input
                        name="system.mystique"
                        value="{{data.system.mystique}}"
                        type="text"
                        data-dtype="Number"/>
                </div>
        
                <div class="monstre">
                    <label>Monstre</label>
                    <input
                        name="system.monstre"
                        value="{{data.system.monstre}}"
                        type="text"
                        data-dtype="Number"/>
                </div>
        
            </div>

        </div>

        <div class="right">
            <label>Portrait</label>
            <img
                src="{{actor.img}}"
                title="{{actor.name}}"
                data-edit="img"/>
        </div>

    </div>

    <div class="traits">

        <label>Traits: Enfant 1d4 / Chuchoteur 2d6</label>

        <div class="liste">

            {{#each actor.traits as |trait|}}
            <div class="trait" data-id="{{trait.id}}">
                <i class="delete fas fa-trash"></i>
                <label>{{trait.name}}</label>
            </div>
            {{/each}}

        </div>

    </div>

    <div class="masques">

        <label>Masques</label>

        <div class="liste">

            {{#each actor.masques as |masque|}}
            <div class="masque" data-id="{{masque.id}}">

                <div class="titre">
                    <i class="delete fas fa-trash"></i>
                    <label>{{masque.name}}</label>
                </div>

                <div class="voie">

                    <div class="titre">
                        <label>{{masque.system.voie.1.nom}}</label>
                        <input
                            name="masque.system.voie.1.niveau"
                            value="{{masque.system.voie.1.niveau}}"
                            class="voie"
                            type="text"
                            data-dtype="Number",
                            data-voie="1"/>
                    </div>
        
                    {{#if (gt masque.system.voie.1.niveau 0)}}
                    <div class="pouvoir">
                        <label>{{masque.system.voie.1.pouvoir.1.nom}}</label>
                        <label>{{masque.system.voie.1.pouvoir.1.description}}</label>
                    </div>
                    {{/if}}

                    {{#if (gt masque.system.voie.1.niveau 1)}}
                    <div class="pouvoir">
                        <label>{{masque.system.voie.1.pouvoir.2.nom}}</label>
                        <label>{{masque.system.voie.1.pouvoir.2.description}}</label>
                    </div>
                    {{/if}}

                    {{#if (gt masque.system.voie.1.niveau 2)}}
                    <div class="pouvoir">
                        <label>{{masque.system.voie.1.pouvoir.3.nom}}</label>
                        <label>{{masque.system.voie.1.pouvoir.3.description}}</label>
                    </div>
                    {{/if}}

                </div>

                <div class="voie">

                    <div class="titre">
                        <label>{{masque.system.voie.2.nom}}</label>
                        <input
                            name="masque.system.voie.2.niveau"
                            value="{{masque.system.voie.2.niveau}}"
                            class="voie"
                            type="text"
                            data-dtype="Number",
                            data-voie="2"/>
                    </div>
        
                    {{#if (gt masque.system.voie.2.niveau 0)}}
                    <div class="pouvoir">
                        <label>{{masque.system.voie.2.pouvoir.1.nom}}</label>
                        <label>{{masque.system.voie.2.pouvoir.1.description}}</label>
                    </div>
                    {{/if}}

                    {{#if (gt masque.system.voie.2.niveau 1)}}
                    <div class="pouvoir">
                        <label>{{masque.system.voie.2.pouvoir.2.nom}}</label>
                        <label>{{masque.system.voie.2.pouvoir.2.description}}</label>
                    </div>
                    {{/if}}

                    {{#if (gt masque.system.voie.2.niveau 2)}}
                    <div class="pouvoir">
                        <label>{{masque.system.voie.2.pouvoir.3.nom}}</label>
                        <label>{{masque.system.voie.2.pouvoir.3.description}}</label>
                    </div>
                    {{/if}}

                </div>

            </div>
            {{/each}}

        </div>

    </div>

</form>