<form class="{{cssClass}} pnj" autocomplete="off">

    <label>Portrait</label>
    <img
        src="{{actor.img}}"
        title="{{actor.name}}"
        data-edit="img"/>

    <label>Nom</label>
    <input
        name="name"
        value="{{actor.name}}"
        type="text"
        data-dtype="String"/>

    <label>Type</label>
    <input
        name="system.type"
        value="{{data.system.type}}"
        type="text"
        data-dtype="String"/>

    <label>Action</label>
    <input
        name="system.action"
        value="{{data.system.action}}"
        type="text"
        data-dtype="Number"/>

    <label>Vie</label>
    <input
        name="system.vie"
        value="{{data.system.vie}}"
        type="text"
        data-dtype="Number"/>

    <label>Attaque</label>
    <input
        name="system.attaque"
        value="{{data.system.attaque}}"
        type="text"
        data-dtype="Number"/>

    <label>Description</label>
    <input
        name="system.description"
        value="{{data.system.description}}"
        type="text"
        data-dtype="String"/>

</form>