<form class="{{cssClass}}" autocomplete="off">

    <label>Type</label>
    <input
        name="system.type"
        value="{{data.system.type}}"
        type="text"
        data-dtype="String"/>

    <label>Action</label>
    <input
        name="system.action"
        value="{{data.system.action}}"
        type="text"
        data-dtype="Number"/>

    <label>Vie</label>
    <input
        name="system.vie"
        value="{{data.system.vie}}"
        type="text"
        data-dtype="Number"/>

    <label>Attaque</label>
    <input
        name="system.attaque"
        value="{{data.system.attaque}}"
        type="text"
        data-dtype="Number"/>

    <label>Description</label>
    <input
        name="system.description"
        value="{{data.system.description}}"
        type="text"
        data-dtype="String"/>

</form>