<form class="{{cssClass}} pnj" autocomplete="off">

    <div class="left">

        <div class="top">

            <div class="nom">
                <label>Nom</label>
                <input
                    name="name"
                    value="{{actor.name}}"
                    type="text"
                    data-dtype="String"/>
            </div>

            <div class="action">
                <label>Action<i class="fa-solid fa-dice"></i></label>
                <input
                    name="system.action"
                    value="{{data.system.action}}"
                    type="text"
                    pattern="[0-9]+d[0-9]+"
                    required
                    data-dtype="String"/>
            </div>

            <div class="vie">
                <label>Vie</label>
                <input
                    name="system.vie"
                    value="{{data.system.vie}}"
                    type="text"
                    required
                    data-dtype="Number"/>
            </div>

            <div class="attaque">
                <label>Attaque</label>
                <input
                    name="system.attaque"
                    value="{{data.system.attaque}}"
                    type="text"
                    required
                    data-dtype="Number"/>
            </div>

        </div>

        <div class="description">
            <label>Description</label>
            <textarea
                class="bottom",
                autocomplete="off"
                name="system.description">{{data.system.description}}</textarea>
        </div>

    </div>

    <div class="right">
        <label>Portrait</label>
        <img
            src="{{actor.img}}"
            title="{{actor.name}}"
            data-edit="img"/>
    </div>

</form>