<form class="mystique-chat">

    <img src="{{actor.img}}"/>

    <div class="right">
        <label class="sentence">{{sentence}}</label>
        <div class="result">
            <i class="fa-solid fa-dice"></i><label class="roll">{{result}}</label>
        </div>
    </div>

</form>