<form class="trait-chat">

    <div class="left">
        <img src="{{actor.img}}" />
    </div>

    <div class="right">
        <label class="sentence">{{sentence}}</label>
        <div class="result">
            <i class="fa-solid fa-dice"></i><label class="roll">{{result}}</label>
        </div>
    </div>

</form>