<form class="{{cssClass}} equipement-item" autocomplete="off">

    <div class="left">

        <div class="nom">
            <label>Nom</label>
            <input
                name="name"
                value="{{item.name}}"
                type="text"
                data-dtype="String"/>
        </div>

        <div class="description">
            <label>Description</label>
            <textarea
                class="bottom",
                autocomplete="off"
                name="system.description">{{data.system.description}}</textarea>
        </div>

    </div>

    <div class="right">
        <label>Portrait</label>
        <img
            src="{{item.img}}"
            title="{{item.name}}"
            data-edit="img"/>
    </div>

</form>