<form class="{{cssClass}} masque" autocomplete="off">
{{log .}}
    <input
        class="name",
        name="name"
        type="text"
        value="{{item.name}}"
        class="name"/>

    <div class="header">

        <img
            src="{{item.img}}"
            title="{{item.name}}"
            data-edit="img"
            class="image"/>

        <div style="background-color: brown;width:100%;height:100%">
            {{editor (enrichHTML data.system.description owner) target="system.description" button=true owner=owner editable=editable}}
        </div>



    </div>

    <label>Trait</label>
    <input
        name="system.trait"
        value="{{data.system.trait}}"
        type="text"
        data-dtype="String"/>

    <div class="voie">

        <input
            name="system.voie.1.nom"
            value="{{data.system.voie.1.nom}}"
            type="text"
            data-dtype="String",
            placeholder="Nom de la voie 1",
            class="nom"/>

        <div class="pouvoir">

            <input
                name="system.voie.1.pouvoir.1.nom"
                value="{{data.system.voie.1.pouvoir.1.nom}}"
                type="text"
                data-dtype="String",
                placeholder="Nom du pouvoir 1.1",
                class="nom"/>

            <input
                name="system.voie.1.pouvoir.1.description"
                value="{{data.system.voie.1.pouvoir.1.description}}"
                type="text"
                data-dtype="String",
                placeholder="Description du pouvoir 1.1"/>

            <input
                name="system.voie.1.pouvoir.1.duree"
                value="{{data.system.voie.1.pouvoir.1.duree}}"
                type="text"
                data-dtype="String",
                placeholder="Duree du pouvoir 1.1"/>

        </div>

        <div class="pouvoir">

            <input
                name="system.voie.1.pouvoir.2.nom"
                value="{{data.system.voie.1.pouvoir.2.nom}}"
                type="text"
                data-dtype="String",
                placeholder="Nom du pouvoir 1.2",
                class="nom"/>

            <input
                name="system.voie.1.pouvoir.2.nom.description"
                value="{{data.system.voie.1.pouvoir.2.nom.description}}"
                type="text"
                data-dtype="String",
                placeholder="Description du pouvoir 1.2"/>

            <input
                name="system.voie.1.pouvoir.2.duree"
                value="{{data.system.voie.1.pouvoir.2.duree}}"
                type="text"
                data-dtype="String",
                placeholder="Duree du pouvoir 1.2"/>

        </div>

        <div class="pouvoir">

            <input
                name="system.voie.1.pouvoir.3.nom"
                value="{{data.system.voie.1.pouvoir.3.nom}}"
                type="text"
                data-dtype="String",
                placeholder="Nom du pouvoir 1.3",
                class="nom"/>

            <input
                name="system.voie.1.pouvoir.3.nom.description"
                value="{{data.system.voie.1.pouvoir.3.nom.description}}"
                type="text"
                data-dtype="String",
                placeholder="Description du pouvoir 1.3"/>

            <input
                name="system.voie.1.pouvoir.3.duree"
                value="{{data.system.voie.1.pouvoir.3.duree}}"
                type="text"
                data-dtype="String",
                placeholder="Duree du pouvoir 1.3"/>

        </div>

    </div>

    <div class="voie">

        <input
            name="system.voie.2.nom"
            value="{{data.system.voie.2.nom}}"
            type="text"
            data-dtype="String",
            placeholder="Nom de la voie 2",
            class="nom"/>

        <div class="pouvoir">

            <input
                name="system.voie.2.pouvoir.1.nom"
                value="{{data.system.voie.2.pouvoir.1.nom}}"
                type="text"
                data-dtype="String",
                placeholder="Nom du pouvoir 2.1",
                class="nom"/>

            <input
                name="system.voie.2.pouvoir.1.description"
                value="{{data.system.voie.2.pouvoir.1.description}}"
                type="text"
                data-dtype="String",
                placeholder="Description du pouvoir 2.1"/>

            <input
                name="system.voie.2.pouvoir.1.duree"
                value="{{data.system.voie.2.pouvoir.1.duree}}"
                type="text"
                data-dtype="String",
                placeholder="Duree du pouvoir 2.1"/>

        </div>

        <div class="pouvoir">

            <input
                name="system.voie.2.pouvoir.2.nom"
                value="{{data.system.voie.2.pouvoir.2.nom}}"
                type="text"
                data-dtype="String",
                placeholder="Nom du pouvoir 2.2",
                class="nom"/>

            <input
                name="system.voie.2.pouvoir.2.nom.description"
                value="{{data.system.voie.2.pouvoir.2.nom.description}}"
                type="text"
                data-dtype="String",
                placeholder="Description du pouvoir 2.2"/>

            <input
                name="system.voie.2.pouvoir.2.duree"
                value="{{data.system.voie.2.pouvoir.2.duree}}"
                type="text"
                data-dtype="String",
                placeholder="Duree du pouvoir 2.2"/>

        </div>

        <div class="pouvoir">

            <input
                name="system.voie.2.pouvoir.3.nom"
                value="{{data.system.voie.2.pouvoir.3.nom}}"
                type="text"
                data-dtype="String",
                placeholder="Nom du pouvoir 2.3",
                class="nom"/>

            <input
                name="system.voie.2.pouvoir.3.nom.description"
                value="{{data.system.voie.2.pouvoir.3.nom.description}}"
                type="text"
                data-dtype="String",
                placeholder="Description du pouvoir 2.3"/>

            <input
                name="system.voie.2.pouvoir.3.duree"
                value="{{data.system.voie.2.pouvoir.3.duree}}"
                type="text"
                data-dtype="String",
                placeholder="Duree du pouvoir 2.3"/>

        </div>

    </div>

</form>