<form class="{{cssClass}} masque-item" autocomplete="off">

    <input
        class="name",
        name="name"
        type="text"
        value="{{item.name}}"
        class="name"/>

    <div class="header">

        <img
            src="{{item.img}}"
            title="{{item.name}}"
            data-edit="img"
            class="left"/>

        <div class="middle">

            <div class="description">
                {{editor data.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>

            <div class="trait">
                <label class="nom">Trait</label>
                <input
                    name="system.trait"
                    value="{{data.system.trait}}"
                    type="text"
                    data-dtype="String"
                    class="valeur"/>

            </div>

        </div>

        <img
            src="{{item.system.img}}"
            title="{{item.name}}"
            data-edit="system.img"
            class="right"/>

    </div>


    <div class="voie">

        <input
            name="system.voie.1.nom"
            value="{{data.system.voie.1.nom}}"
            type="text"
            data-dtype="String",
            placeholder="Voie",
            class="nom"/>

        <div class="pouvoir">

            <div class="titre">

                <label>1.</label>

                <input
                    name="system.voie.1.pouvoir.1.nom"
                    value="{{data.system.voie.1.pouvoir.1.nom}}"
                    type="text"
                    data-dtype="String",
                    placeholder="Pouvoir"/>

            </div>

            <textarea
                class="description",
                autocomplete="off"
                name="system.voie.1.pouvoir.1.description">{{data.system.voie.1.pouvoir.1.description}}</textarea>

        </div>

        <div class="pouvoir">

            <div class="titre">

                <label>2.</label>

                <input
                    name="system.voie.1.pouvoir.2.nom"
                    value="{{data.system.voie.1.pouvoir.2.nom}}"
                    type="text"
                    data-dtype="String",
                    placeholder="Pouvoir"/>

            </div>

            <textarea
                class="description",
                autocomplete="off"
                name="system.voie.1.pouvoir.2.description">{{data.system.voie.1.pouvoir.2.description}}</textarea>

        </div>

        <div class="pouvoir">

            <div class="titre">

                <label>3.</label>

                <input
                    name="system.voie.1.pouvoir.3.nom"
                    value="{{data.system.voie.1.pouvoir.3.nom}}"
                    type="text"
                    data-dtype="String",
                    placeholder="Pouvoir"/>

            </div>

            <textarea
                class="description",
                autocomplete="off"
                name="system.voie.1.pouvoir.3.description">{{data.system.voie.1.pouvoir.3.description}}</textarea>

        </div>

    </div>

    <div class="voie">

        <input
            name="system.voie.2.nom"
            value="{{data.system.voie.2.nom}}"
            type="text"
            data-dtype="String",
            placeholder="Voie",
            class="nom"/>

        <div class="pouvoir">

            <div class="titre">

                <label>1.</label>

                <input
                    name="system.voie.2.pouvoir.1.nom"
                    value="{{data.system.voie.2.pouvoir.1.nom}}"
                    type="text"
                    data-dtype="String",
                    placeholder="Pouvoir"/>

            </div>

            <textarea
                class="description",
                autocomplete="off"
                name="system.voie.2.pouvoir.1.description">{{data.system.voie.2.pouvoir.1.description}}</textarea>

        </div>

        <div class="pouvoir">

            <div class="titre">

                <label>2.</label>

                <input
                    name="system.voie.2.pouvoir.2.nom"
                    value="{{data.system.voie.2.pouvoir.2.nom}}"
                    type="text"
                    data-dtype="String",
                    placeholder="Pouvoir"/>

            </div>

            <textarea
                class="description",
                autocomplete="off"
                name="system.voie.2.pouvoir.2.description">{{data.system.voie.2.pouvoir.2.description}}</textarea>

        </div>

        <div class="pouvoir">

            <div class="titre">

                <label>3.</label>

                <input
                    name="system.voie.2.pouvoir.3.nom"
                    value="{{data.system.voie.2.pouvoir.3.nom}}"
                    type="text"
                    data-dtype="String",
                    placeholder="Pouvoir"/>

            </div>

            <textarea
                class="description",
                autocomplete="off"
                name="system.voie.2.pouvoir.3.description">{{data.system.voie.2.pouvoir.3.description}}</textarea>

        </div>

    </div>

</form>